# Dependencies
node_modules/

# Local Environment & Credentials
.env
.env.local
.env.*.local
src/config/firebase-service-account.json

# Logs & Uploads
logs/
*.log
npm-debug.log*
uploads/*
!uploads/.gitkeep

# IDE
.vscode/
.idea/
.DS_Store
